#body {
  background-color:  #f7cac9;
  font-size: 16px;
}

#heading{
  background-color: #c94c4c;
  font-weight: bolder;
}

#heading > a{
  font-size: 18px;
  margin-left: 10px;
}

#nav1{
  margin-left: 600px;
  font-size: 14px;
}

#text1 {
  font-size: 22px;
  font-style: oblique;
  color:#100f24;
  padding-left: 20px;
  font-weight: bolder;
}

#text2{
  text-align: center;
  height: 30px;
  margin-top:120px;
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
}

#text3{
  height: 30px;
  margin-top:120px;
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
  margin-left: 10px;
}

#text4{
  height: 30px;
  margin-top:120px;
  font-style: italic;
  font-weight: bolder;
  font-size: 16px;
  margin-left: 10px;
}

#text5{
  margin-left: 100px;
  height: 30px;
  margin-top:120px;
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
}

#blockchainvalue{
  font-size: 28px;
  font-weight: bolder;
  font-style: oblique;
  color: #618685;
  text-decoration: underline;
  text-emphasis-style: filled;
  text-align: center;
}

#index{
  font-size: 18px;
  font-style: italic;
  font-weight: bolder;
}

#value{
  font-size: 28px;
  font-weight: bolder;
  font-style: oblique;
  color: #618685;
  text-decoration: underline;
  text-emphasis-style: filled;
  text-align: center;
}

#tr{
    text-align: center;
}

.footer{
  background-color: #c94c4c;
  padding-left: 530px;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 320px;
}

#copyright{
  text-align: center;
  margin-top: 8px;
}

.class1{
  font-style: italic;
  display: inline-block;
  font-weight: bolder;
}

@media(max-width:1200px){
  #text1{
    font-size: 18px;
  }
  #text2{
    font-size: 18px;
  }
  #text3{
    font-size: 18px;
  }
  #text4{
    font-size: 16px;
  }
  #text5{
    font-size: 18px;
  }
  #nav1{
    font-size: 10px;
  }
  #heading>a{
    font-size: 12px;
  }
  .footer{
    padding-left: 50%;
  }
  #copyright{
    font-size: 18px;
  }
}

@media(min-width: 992px) and (max-width: 1199px){
  #text1{
    font-size: 16px;
  }
  #text2{
    font-size: 16px;
  }
  #text3{
    font-size: 16px;
  }
  #text4{
    font-size: 16px;
  }
  #text5{
    font-size: 16px;
  }
  #nav1{
    font-size: 10px;
  }
  #heading>a{
    font-size: 14px;
  }
  .footer{
    padding-left: 40%;
  }
  #copyright{
    font-size: 16px;
  }
}

@media(min-width:768px) and (max-width:991px){
  #text1{
    font-size: 16px;
  }
  #text2{
    font-size: 14px;
  }
  #text3{
    font-size: 14px;
  }
  #text4{
    font-size: 14px;
  }
  #text5{
    font-size: 14px;
  }
  #nav1{
    margin-left: 0px;
  }
  #heading>a{
    font-size: 16px;
  }
  .footer{
    padding-left: 30%;
  }
  #copyright{
    font-size: 14px;
  }
}

@media(max-width:767px){
  #text1{
    font-size: 14px;
  }
  #text2{
    font-size: 14px;
  }
  #text3{
    font-size: 14px;
  }
  #text4{
    font-size: 14px;
  }
  #text5{
    font-size: 14px;
  }
  #nav1{
    margin-left: 0px;
  }
  #heading>a{
    font-size: 14px;
  }
  .footer{
    padding-left: 20%;
  }
  #copyright{
    font-size: 12px;
  }
}
